@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SIIT University</h1>
</div>

<div class="row">
    <div class="col-md-10"> 
        <h2>Welcome to SIIT University</h2>
        <p>
            SIIT University is a sample application that demonstrates hwo to use Entity Framework
            in an ASP.NET MVC application
        </p>
    </div>
</div>